{
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": true,
  "printWidth": 100,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
